<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" preserve-order="true"  parallel="false" enabled="true" name="suite">
    <classes>
      <class name="stepDefinitions.LoadHomePage"/>
      <class name="stepDefinitions.AddtoCart"/>
      <class name="stepDefinitions.Checkout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
